{% set queryPrefix = extraQuery is defined and extraQuery ? extraQuery ~ '&' : '' %}

{% if totalPages > 1 %}
    <nav class="pagination">
        {% if currentPage > 2 %}
            <a href="{{ basePath }}?{{ queryPrefix }}page=1{% if search %}&search={{ search|url_encode }}{% endif %}"
               class="pagination__link">
                1
            </a>
        {% endif %}

        {% if currentPage > 3 %}
            <span class="pagination__ellipsis">...</span>
        {% endif %}

        {% for page in 1..totalPages %}
            {% if page >= currentPage - 1 and page <= currentPage + 1 %}
                <a
                    href="{{ basePath }}?{{ queryPrefix }}page={{ page }}{% if search %}&search={{ search|url_encode }}{% endif %}"
                    class="pagination__link {% if page == currentPage %}pagination__link--active{% endif %}"
                >
                    {{ page }}
                </a>
            {% endif %}
        {% endfor %}

        {% if currentPage < totalPages - 2 %}
            <span class="pagination__ellipsis">...</span>
        {% endif %}

        {% if currentPage < totalPages - 1 %}
            <a href="{{ basePath }}?{{ queryPrefix }}page={{ totalPages }}{% if search %}&search={{ search|url_encode }}{% endif %}"
               class="pagination__link">
                {{ totalPages }}
            </a>
        {% endif %}
    </nav>
{% endif %}